name: iOS CI

on:
  push:
    branches: [ main ]
    paths:
      - 'Calculator-Storyboard/**'
      - 'Calculator-SwiftUI/**'
      - '.github/workflows/ios.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'Calculator-Storyboard/**'
      - 'Calculator-SwiftUI/**'
      - '.github/workflows/ios.yml'

jobs:
  build:
    # Build and Test default scheme using any available iPhone simulator
    runs-on: macos-latest
    
    strategy:
      matrix:
        dir: ['./Calculator-Storyboard', './Calculator-SwiftUI']
    
    defaults:
      run:
        working-directory: ${{ matrix.dir }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      # Override the default Xcode version if needed
      - name: Select Xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      
      # Get information about this project, parse the JSON using ruby, and save the target name into a file called default
      - name: Set Default Scheme
        run: |
          scheme_list=$(xcodebuild -list -json | tr -d "\n")
          default=$(echo $scheme_list | ruby -e "require 'json'; puts JSON.parse(STDIN.gets)['project']['targets'][0]")
          echo $default | cat >default
          echo Using default scheme: $default
      
      # Get a list of all devices, filter by iPhones, retrieve the first one, and exclude the word Simulator and everything after
      # Fetch the target name from the last step, determine if this is a workspace or project and get the appropriate file
      # Then run the build-for-testing command by specifying the scheme, project/workspace, and destination
      - name: Build
        env:
          scheme: ${{ 'default' }}
          platform: ${{ 'iOS Simulator' }}
        run: |
          # xcrun xctrace returns via stderr, not the expected stdout (see https://developer.apple.com/forums/thread/663959)
          device=`xcrun xctrace list devices 2>&1 | grep -oE 'iPhone.*?[^\(]+' | head -1 | awk -F 'Simulator' '{$1=$1;print}' | xargs`
          if [ $scheme = default ]; then scheme=$(cat default); fi
          if [ "`ls -A | grep -i \\.xcworkspace\$`" ]; then filetype_parameter="workspace" && file_to_build="`ls -A | grep -i \\.xcworkspace\$`"; else filetype_parameter="project" && file_to_build="`ls -A | grep -i \\.xcodeproj\$`"; fi
          file_to_build=`echo $file_to_build | awk '{$1=$1;print}'`
          xcodebuild build-for-testing -scheme "$scheme" -"$filetype_parameter" "$file_to_build" -destination "platform=$platform,name=$device"
      
      # Similar to the Build step, but run the test-without-building command
      # To filter tests, use -only-testing and -skip-testing, to suppress output, use -quiet
      - name: Test
        env:
          scheme: ${{ 'default' }}
          platform: ${{ 'iOS Simulator' }}
        run: |
          # xcrun xctrace returns via stderr, not the expected stdout (see https://developer.apple.com/forums/thread/663959)
          device=`xcrun xctrace list devices 2>&1 | grep -oE 'iPhone.*?[^\(]+' | head -1 | awk -F 'Simulator' '{$1=$1;print}' | xargs`
          if [ $scheme = default ]; then scheme=$(cat default); fi
          if [ "`ls -A | grep -i \\.xcworkspace\$`" ]; then filetype_parameter="workspace" && file_to_build="`ls -A | grep -i \\.xcworkspace\$`"; else filetype_parameter="project" && file_to_build="`ls -A | grep -i \\.xcodeproj\$`"; fi
          file_to_build=`echo $file_to_build | awk '{$1=$1;print}'`
          xcodebuild test-without-building -scheme "$scheme" -"$filetype_parameter" "$file_to_build" -destination "platform=$platform,name=$device"
